<div class="contents">

<div class="discover-picture">
      <%= image_tag"sutaba-discover.jpeg" %>
</div>
<div class="text">
<p>
スターバックスで、あなただけのカスタマイズをしましょう！
４つの質問に答えるだけで、36種類の中からおすすめのひとつを選びます。
診断結果画面を店員さんに見せれば、簡単に注文もできます。

</p>


<div class="discover">

<a href="./discovers/new" class="button-2">診断する</a>

</div>
</div>
</div>