<div class="contents">

<div class="discover-picture">
      <%= image_tag"discover-top.jpeg" %>
</div>
<div class="top-ttl">
<p class="custom-sindan">
CUSTOM TEST
</p>
</div>
<div class="text">
<p> 
スタバリスタのカスタム診断では、<br>
４つの質問に答えるだけで、36種類の中からおすすめのカスタムを選びます。<br>
診断結果画面を店員さんに見せれば、簡単に注文もできます。<br>
<br>
スタバ初心者の方からマニアの方まで<br>
お気軽にご利用頂けます。<br>
スターバックスで、あなただけのカスタマイズを見つけましょう。<br>

</p>

</div>
<div class="discover">

<a href="./discovers/new" class="button-2">診断する</a>


</div>
</div>