// Place all the styles related to the sutabarisutas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  padding: 0;
  margin: 0;
}
/*トップワード*/
.area_top_view {
  position: relative;
}

.top-word {
  position: absolute;
  top: 320px;
  left: 90px;
  font-size: 20px;
  color: white;
}
@media (max-width: 800px) {
  .top-word {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 8px;
    color: white;
  }
}

.top-button {
  position: absolute;
  top: 360px;
  left: 90px;
  text-decoration: none;
  color: #fff;
  background-color: #355f19;
  display: inline-block;
  padding: 0.9em 1.4em;
  font-size: 0.4em;
}
.top-button:hover {
  color: #fff;
  background: #355f19;
}
@media (max-width: 800px) {
  .top-button {
    position: absolute;
    top: 100px;
    left: 20px;
   
  }
}

/*トップ写真*/
.area_top_view img {
  width: 1300px;
  height: 480px;
}
.area_top_view {
  text-align: center;
}
@media (max-width: 800px) {
  .area_top_view img {
    width: 800px;
    height: 150px;
  }
}
.bx-wrapper {
  margin: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}
.bxslider img{
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 800px) {
  .bx-pager {
    display: none;
  }
}
.bx-pager {
  position: absolute;
  top: 420px;
  size: 10px;

}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: white !important;
  width: 8px !important;
  height: 8px !important;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
    background: none !important;
}
.bx-wrapper .bx-prev::after,
.bx-wrapper .bx-next::after {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    color: #ddd;
    font-size: 50px;
    
    font-weight: 100;
    text-indent: 0px;
}
.bx-wrapper .bx-prev::after {
    left: 100px;
    content: "＜";
}
.bx-wrapper .bx-next::after {
    right: 100px;
    content: "＞";
}
.bx-wrapper .bx-prev:hover::after,
.bx-wrapper .bx-next:hover::after {
    color: #bbb;
}
.bx-wrapper .bx-controls-direction a {
    z-index: 9998;
}

.bxslider{   
  margin:0px;
}

.bx-wrapper {
  position: relative;
}

.bx-wrapper img {
  width:100%;
}

.bx-viewport {
  max-height: 450px;
}
/*ランキング*/
.contents-name {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 110px;
  font-weight: 200;
}
@media (max-width: 800px) {
  .contents-name {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 10;
  }
}
.card-2 {
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
  
  border-radius: 3px;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .card-2 {
    width: 90px;
  }
}
.card {
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
  border: 0.5px solid #e9eaea;
  border-radius: 3px;
  transition: 0.3s;


}
@media (max-width: 800px) {
  .card {
    width: 90px;
  }
}

/*アバウト*/
.text2 {
  padding-bottom: 60px;
  line-height: 2;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .text2 {
    padding-bottom: 15px;
    font-size: 4px;
  }
}
.marker19{
  background:linear-gradient(transparent 40%, #ffe0c1 40%);
  }

.number {
  left: 20%;
  font-size: 30px;
  line-height: 1;
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
}
@media (max-width: 800px) {
  .number {
    left: 5%;
    font-size: 15px;
  }
}
.number:before {
  content: "";
  position: absolute;
  background: #1d8d4f69;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  /* border: dashed 1px white; */
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}
@media (max-width: 800px) {
  .number:before{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 40%;
  }
}
/*素材紹介*/
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.intro {
  display: flex;
  width: 700px;
  margin: 0 auto;

}
.kind img {
  margin-top: 70px;
  margin-left: 40px;
}
@media (max-width: 800px) {
  .kind img {
    width: 10px;
  }
}
.marker20 {
  background:linear-gradient(transparent 40%, #ffe0c1 40%);
  text-align: end;
  margin-top: 10px;
  }
.kind {
 margin-top: 20px;
  width: 37.5%;
margin-right: 3%;
  margin-left: 5%;
}
@media (max-width: 800px) {
  .kind {
    margin-top: 5px;
     width: 37.5%;
   margin-right: 3%;
     margin-left: 5%;
   }
}
ul.sample1{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding:0;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul.sample1 li{
  position:relative;
  color: #333;
  padding: 10px 0 0 10px;

  line-height: 30px;
  border-bottom: dashed 1px #ccc;
}
ul.sample1 li:before{
  counter-increment: list;
  content: counter(list) ".";
  display: block;
  position: absolute;
  left: 0px;
  font-weight: bold;
  top: 60%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.explain {
  font-size: 12px;
}
/*投稿横並び*/
.card-box {
  display: flex;
  gap: 10px 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-box::after{
  content:"";
  display: block;
  width: 280px;
  height: 0;
}